<div class=" flex h-screen flex-col w-1/5 items-start">
    <div class="flex items-center gap-2">
        
    </div>
    <div class="flex flex-col ">
        <a class="block w-fit mb-2 text-zinc-500" href="/shop">Back to Shop</a>
        <a class="block text-xl w-fit mb-2" href="/account">Account</a>
        <a class="block text-xl w-fit mb-2" href="/users/cart">My Cart</a>
        <a class="block text-xl w-fit mb-2" href="/orders">My Orders</a>

    </div>
    
</div>